### Librerias

In [3]:
import pymongo
from pymongo import MongoClient

import pandas as pd
from pandas import DataFrame
from pandas.io.json import json_normalize

### Conexion a Mongo

In [4]:
client = MongoClient()

In [8]:
companies = client.ironhack.ironCollection

### Seleccion de empresas

Aplicamos los criterios de busqueda de: 
- localizacion en territorio español
- haber cerrado rondas de financiacion por valor de 1.000.000€
- empresa fundada en el siglo XXI

In [6]:
filt =   {'$and':[
        {'offices.country_code': {'$eq': "ESP"}},
        {'name': {'$ne': None}},
        {'founded_year':{'$gte':2001}},
        {'offices.latitude': {'$ne': None}},
        {'offices.longitude': {'$ne': None}},
        {"funding_rounds.raised_amount":{"$gt":1_000_000}},
        {'number_of_employees':{'$gte': 87}}
                
        ]}
project =  {'_id': 0, 'name' : 1,'offices.city':1, 'category_code' : 1, 'number_of_employees' : 1,
     'founded_year' : 1, 'offices.latitude' : 1, 'offices.longitude' : 1 }
result = companies.find(filt, project)
result = list(result)
result

[{'name': 'Fon',
  'category_code': 'mobile',
  'number_of_employees': 100,
  'founded_year': 2006,
  'offices': [{'city': 'Madrid',
    'latitude': 40.530724,
    'longitude': -3.632687}]},
 {'name': 'Tuenti Technologies',
  'category_code': 'social',
  'number_of_employees': 170,
  'founded_year': 2006,
  'offices': [{'city': 'Madrid',
    'latitude': 40.4158236,
    'longitude': -3.696277}]}]

Como indican los resultados de la base de datos a la que tenemos acceso deberiamos instalar nuestras nuevas oficinas en la ciudad de madrid.

In [10]:
data = json_normalize(data =result, record_path = 'offices', meta = ['name', 'category_code', 'number_of_employees', 'founded_year'])
data

<ipython-input-10-36361e7fe869>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  data = json_normalize(data =result, record_path = 'offices', meta = ['name', 'category_code', 'number_of_employees', 'founded_year'])

,city,latitude,longitude,name,category_code,number_of_employees,founded_year
0,Madrid,40.530724,-3.632687,Fon,mobile,100,2006
1,Madrid,40.415824,-3.696277,Tuenti Technologies,social,170,2006

### Exportacion de datos

In [10]:
data.to_csv("../data/companies.csv", index=False)